<h2>New celebrity</h2>

<form method="post" action="/celebrities/create">
  <p>
    <label for="name" class="label">Name: </label>
    <input
      class="input"
      type="text"
      id="celebrityName"
      name="name"
      placeholder="name"
    />
  </p>
  <p>
    <label for="occupation" class="label">Occupation: </label>
    <input
      class="input"
      type="text"
      id="occupation"
      name="occupation"
      placeholder="occupation"
    />
  </p>
  <p>
    <label for="catchPhrase" class="label">Catch Phrase: </label>
    <input
      class="input"
      type="text"
      id="catchPhrase"
      name="catchPhrase"
      placeholder="catchPhrase"
    />
  </p>

  <button>submit</button>

</form>