<h1>create new movie</h1>

<form method="post" action="/movies-create">
    <label for="title">Choose :</label>
    <select name="movie" id="movie" multiple>
        <option value="title">{{this.title}}</option>
        
        
        
    </select>